<!-- begin post -->
<div class="card">
    <a href="{{ post.url | absolute_url }}">
        {% if person.picture %} <img class="rounded mb-4" src="{{ person.picture }}" alt="{{ person.name }}"> {% endif %}
    </a>
    <div class="card-block">
        <h2 class="card-title h4 serif-font"><a href="{{ post.url | absolute_url }}">{{ person.name }}</a></h2>
        <p class="card-text text-muted">{{ person.role | strip_html | truncatewords:15 }}</p>
        <div class="metafooter">
            <div class="wrapfooter d-flex align-items-center">
                <a href="#" class="btn btn-outline-dark">
                    Find out more
                </a>
            </div>
        </div>
    </div>
</div>
<!-- end post -->