<div class="sidebar sticky-top">        
    <div class="sidebar-section">
        <h5><span>Workshop outline :</span></h5>
        <ul>
            <li><strong>08:00 - 08:10 :</strong> Opening remarks</li>
            <li><strong>08:10 - 08:30 :</strong> Invited Speaker, Raoul de Charette</li>
            <li><strong>08:30 - 08:35 :</strong> Q&A </li>
            <li><strong>08:35 - 09:55 :</strong> Community talk 02 Galsen AI</li>
            <li><strong>08:55 - 09:00 :</strong> Q&A</li>
            <li><strong>09:00 - 09:20 :</strong> Community talk 02 Ai4Innov</li>
            <li><strong>09:20 - 09:25 :</strong> Q&A</li>
            <li><strong>09:25 - 09:45 :</strong> Community talk 03 IVIA-AF</li>
            <li><strong>09:45 - 09:50 :</strong> Q&A</li>            
            <li><strong>10:00 - 13:30 :</strong> Break </li>
            <li><strong>13:30 - 14:00 :</strong> Invited Speaker, Benjamin Muller Title: TBC</li>
            <li><strong>14:00 - 14:15 :</strong> Q&A</li>
            <li><strong>14:15 - 14:45 :</strong> Invited Speaker, Moustapha Cisse Title: TBC</li>
            <li><strong>14:45 - 15:00 :</strong> Q&A</li>
            <li><strong>15:00 - 15:30 :</strong> Collection of ideas for next steps and collaborations.</li>
        </ul>
    </div>
    <div class="sidebar-section">
        <h5><span>Welcome!!!</span></h5>
        <img src="{{site.baseurl}}/assets/images/Indaba.jpg">
    </div>
</div>
