<div class="sidebar sticky-top">        
    <div class="sidebar-section">
        <h5><span>Workshop outline :</span></h5>
        <ul>
            <li>08:00 - 08:05 : Opening remarks</li>
            <li>08:05 - 08:25 : Community talk 01 [TBC Masakhane Francophone]</li>
            <li>08:25 - 08:45 : Community talk 02 [TBC Galsen AI]</li>
            <li>08:45 - 09:05 : Community talk 03 [Confirmed DialectAI]</li>
            <li>09:05 - 09:45 : Invited Speaker, Benjamin Muller (TBC, Title: TBC)</li>
            <li>09:45 - 10:00 : Q&A</li>
            <li>10:00 - 13:30 : Break </li>
            <li>13:30 - 13:50 : Community talk 02 [Confirmed IVIA-AF]</li>
            <li>14:10 - 14:30 : Community talk 04 [Confirmed Ai4Innov]</li>
            <li>14:30 - 15:15 :  Invited Speaker, Moustapha Cisse (Confirmed, Title: TBC)</li>
            <li>15:15 - 15:30 : Panel discussion (On-the-spot selection of panel to share experiences and possible solutions to the integration both in Academia and Industry)</li>
        </ul>
    </div>
    <div class="sidebar-section">
        <h5><span>Your Ad Here</span></h5>
        <img src="{{site.baseurl}}/assets/images/ad.png">
    </div>
</div>
