<div class="sidebar sticky-top">        
    <div class="sidebar-section">
        <h5><span>Workshop outline :</span></h5>
        <ul>
            <li><strong>08:00 - 08:05 :</strong> Opening remarks</li>
            <li><strong>08:05 - 08:25 :</strong> Community talk 01 [TBC Masakhane Francophone]</li>
            <li><strong>08:25 - 08:45 :</strong> Community talk 02 [TBC Galsen AI]</li>
            <li><strong>08:45 - 09:05 :</strong> Community talk 03 [Confirmed DialectAI]</li>
            <li><strong>09:05 - 09:45 :</strong> Invited Speaker, Benjamin Muller (TBC, Title: TBC)</li>
            <li><strong>09:45 - 10:00 :</strong> Q&A</li>
            <li><strong>10:00 - 13:30 :</strong> Break </li>
            <li><strong>13:30 - 13:50 :</strong> Community talk 02 [Confirmed IVIA-AF]</li>
            <li><strong>14:10 - 14:30 :</strong> Community talk 04 [Confirmed Ai4Innov]</li>
            <li><strong>14:30 - 15:15 :</strong>  Invited Speaker, Moustapha Cisse (Confirmed, Title: TBC)</li>
            <li><strong>15:15 - 15:30 :</strong> Panel discussion (On-the-spot selection of panel to share experiences and possible solutions to the integration both in Academia and Industry)</li>
        </ul>
    </div>
    <div class="sidebar-section">
        <h5><span>Welcome!!!</span></h5>
        <img src="{{site.baseurl}}/assets/images/ad.png">
    </div>
</div>
